<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427221062113-3lc23al5hcpv5c4tf5q706mndpm5lq66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427221062113-3lc23al5hcpv5c4tf5q706mndpm5lq66</string>
	<key>API_KEY</key>
	<string>AIzaSyAhLgyzJe4Fc1V4ggrbfxWXtZ-kAlTN7Sg</string>
	<key>GCM_SENDER_ID</key>
	<string>427221062113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>princeyadav.AJU</string>
	<key>PROJECT_ID</key>
	<string>ajuapp-dd374</string>
	<key>STORAGE_BUCKET</key>
	<string>ajuapp-dd374.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427221062113:ios:2bda2ded056d4470df02a0</string>
</dict>
</plist>